<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0)">Flight42</a>
      </div>
      <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="ti-panel"></i>
                      <p>Stats</p>
                  </a>
              </li>
              <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-bell"></i>
                          <p class="notification">5</p>
                          <p>Notifications</p>
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:void(0)">Notification 1</a></li>
                      <li><a href="javascript:void(0)">Notification 2</a></li>
                      <li><a href="javascript:void(0)">Notification 3</a></li>
                      <li><a href="javascript:void(0)">Notification 4</a></li>
                      <li><a href="javascript:void(0)">Another notification</a></li>
                    </ul>
              </li>
              <li>
                  <a href="javascript:void(0)">
                      <i class="ti-settings"></i>
                      <p>Settings</p>
                  </a>
              </li>
          </ul>

      </div>
  </div>
</nav> -->

<a class="navbar-brand" href="javascript:void(0)">Flight</a>

  <div class=" navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="display: flex;
    flex-direction: row;
    position: relative;left: 900px;
    bottom: 43px;">
      <li class="nav-item active">
        <a class="nav-link" href="#">Statistics <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Notifications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>