<div id="widget">
  <div class="card">
    <div class="header">
      <h1>Your Flights</h1>
    </div>
    <div class="content">
  <table class="table table-contensed">
      <thead>
      <tr>
          <th>Id</th>
          <th>From</th>
          <th>To</th>
      </tr>
      </thead>
      <tr>
          <td>4711</td>
          <td>Graz</td>
          <td>Frankfurt</td>
      </tr>
      <tr>
          <td>4712</td>
          <td>Frankfurt</td>
          <td>Graz</td>
      </tr>

      </table>
  </div>
</div>
</div>
