

  <!-- <div class="logo">
      <a class="simple-text">
          <div class="logo-img">
              <img src="../../assets/img/angular2-logo.png" alt="">
          </div>
          Flight42
      </a>
  </div> -->
  <div class="sidebar-header">
    <h3> Flight</h3>
</div>
  <ul class="list-unstyled components">
      <li>
          <a href="#">
              <i class="ti-home"></i>
              <p>Home</p>
          </a>
      </li>

      <li>
          <a href="#/client-a/page1">
              <i class="ti-arrow-top-right"></i>
              <p>Flights</p>
          </a>
      </li>

      <li>
          <a href="#/client-b/page1">
              <i class="ti-user"></i>
              <p>Passengers</p>
          </a>
      </li>

      <li routerLinkActive="active">
          <a (click)="sendState()">
              <i class="ti-close"></i>
              <p>Send info to child components</p>
          </a>
          </li>
      
  </ul>

